@import './mixins';
.main-section {
  padding-top: 4rem;
  .cross-section {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(45vw, 1fr));
  }
}

.poster {
  height: 15vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  @include my_bp(sm) {
    height: 60vh;
  }
}

.content {
  margin-top: 2rem;
  text-align: center;
  p {
    margin-bottom: 1rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    text-align: justify;
  }
  .button {
    color: #fff;
    background-color: #8950fc;
    border-color: #8950fc;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: .75rem 2rem;
    border-radius: .75rem;
    transition: all 500ms ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    &:hover {
      background-color: lighten($color: #8950fc, $amount: 10);
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: .75;
    backdrop-filter: blur(5px);
  }
  .modal-content {
    position: absolute;
    width: 40vw;
    background: white;
    border-radius: 1rem;
    margin: 0 auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    left: 50%;
    top: 10vh;
    transform: translateX(-50%);
    padding: 30px;
    .modal-header {
      border-bottom: 1px solid rgba(0, 0, 0, .5);
    }
  }
}

.button {
  color: #fff;
  background-color: #8950fc;
  border-color: #8950fc;
  cursor: pointer;
  border-radius: 1rem;
  padding: .5rem 1rem;
}

.form-label {
  font-size: .9rem;
  padding-bottom: .5rem;
}

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: .75;
    backdrop-filter: blur(5px);
  }
}

.spinner,
.spinner:before,
.spinner:after {
  background: #000000;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.spinner {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.spinner:before,
.spinner:after {
  position: absolute;
  top: 0;
  content: '';
}

.spinner:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.video {
  margin-top: 2rem;
  text-align: center;
}