@import 'reset.scss';
@import './mixins';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200&family=Open+Sans&family=Rubik&family=Catamaran:wght@800&display=swap');
@import url('https://unpkg.com/purecss@2.0.3/build/forms-min.css');
body {
  font-family: 'Overpass', sans-serif;
  font-weight: 200;
  background-color: #fbf7ef;
}

h1 {
  font-size: clamp(3em, 5vw, 5em);
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
}

h2 {
  font-size: clamp(2em, 4vw, 4em);
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
}

h3 {
  font-size: clamp(1.75em, 3vw, 3em);
  font-family: 'Rubik', sans-serif;
}

h4 {
  font-size: clamp(1.5em, 2vw, 2em);
  font-family: 'Rubik', sans-serif;
}

.container {
  padding: 0 clamp(1rem, 4vw, 4em);
}

.outer-container {
  padding: 30px;
  .wrapper {
    border-radius: 40px;
    background-color: white;
    min-height: calc(100vh - 60px - 80px);
    padding: 2rem;
    overflow: hidden;
    @include my_bp(sm) {
      padding: 4rem;
    }
  }
}

.mb-3 {
  margin-bottom: 1rem !important;
}