@import './mixins';
$navbar-bg: transparent;
$navbar-color: #1a1a2e;
$navbar-highlight: #00afef;
$overlay: #ffffff66;
$aside-bg: #16213e;
$aside-color: white;
$aside-highlight: white;
#navbar {
  background: $navbar-bg;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: .5rem;
  display: flex;
  align-items: center;
  &.open {
    .menu-btn {
      span {
        &:nth-of-type(1) {
          transform: translateY(10px);
          opacity: 0;
        }
        &:nth-of-type(2) {
          transform: translateY(10px) rotateZ(45deg);
        }
        &:nth-of-type(3) {
          transform: translateY(10px) rotateZ(-45deg);
        }
        &:nth-of-type(4) {
          transform: translateY(10px);
          opacity: 0;
        }
      }
    }
  }
  .logo {
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 50px;
  }
  .menu {
    margin-left: auto;
    margin-right: 4rem;
    display: none;
    @include my_bp(sm) {
      display: block;
    }
    ul {
      display: flex;
      li {
        margin: 0 .5rem;
        position: relative;
        padding: .5rem;
        display: flex;
        justify-content: center;
        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          background: $navbar-highlight;
          position: absolute;
          bottom: 0;
          transform: scaleX(0);
          transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:hover {
          &:before {
            transform: scaleX(1);
          }
          a {
            color: $navbar-highlight;
          }
        }
        a {
          text-decoration: none;
          color: $navbar-color;
          font-family: 'Rubik', sans-serif;
        }
      }
    }
  }
  .menu-btn {
    position: absolute;
    right: 4rem;
    cursor: pointer;
    height: 25px;
    width: 25px;
    @include my_bp(sm) {
      display: none;
    }
    span {
      display: block;
      width: 25px;
      height: 3px;
      background: $navbar-highlight;
      position: absolute;
      transform-origin: center;
      transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      &:nth-of-type(1) {
        transform: translateY(0);
      }
      &:nth-of-type(2) {
        transform: translateY(10px);
      }
      &:nth-of-type(3) {
        transform: translateY(10px);
      }
      &:nth-of-type(4) {
        transform: translateY(20px);
      }
    }
  }
}

#aside {
  &.open {
    .overlay {
      display: block;
    }
    .menu {
      transform: translateX(0);
      box-shadow: 3px 0px 10px rgba(0, 0, 0, .5);
    }
  }
  .logo {
    background-image: url('../images/logo-white.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100px;
    margin-bottom: 1rem;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $overlay;
    backdrop-filter: blur(5px);
    display: none;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: $aside-bg;
    width: 60vw;
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateX(-100%);
    ul {
      display: flex;
      flex-direction: column;
      li {
        margin: .5rem;
        position: relative;
        padding: .5rem;
        display: flex;
        justify-content: center;
        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          background: $aside-highlight;
          position: absolute;
          bottom: 0;
          transform: scaleX(0);
          transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &:hover {
          &:before {
            transform: scaleX(1);
          }
          a {
            color: $aside-highlight;
          }
        }
        a {
          text-decoration: none;
          color: $aside-color;
          font-family: 'Rubik', sans-serif;
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}