extend layouts/default.pug

block head
  link(rel="stylesheet", href="./style/home.scss")
  
block page
  .poster(style="background-image: url('./images/poster.png')")
  .video
    iframe(type='text/html' width='600' height='350' src='//www.youtube.com/embed/live_stream?channel=UCGnD5pg8MOIetz93sEvCHbw&autoplay=1' frameborder='0')
  .content
    p Kerala strives to create a vibrant startup ecosystem that works on exponential technologies and developing solutions that address the problems of the society at large. It is heartening to note that through multiple interventions by the state government there are more than 2900 registered startups, 4 Lakh + square feet of incubation space, 40 incubators, 280 mini incubators,Future technologies lab,IOT labs,MIT Super Fab lab to promote digital fabrication and 22 fablabs including mini fablabs distributed across different districts. Many of these facilities also house advanced labs for hardware, biotechnology, electronics, advanced computing etc.
    p Kerala Startup Mission from its inception has been executing various policies and schemes which support the startup ecosystem in the state.This has made kerala as the Top Performer state in the country for supporting the startups in the state. Kerala Startup Mission was also recognised as the World No 1 Public Business Accelerator by a Sweden based research agency from the hundreds of nominations received from across the world. In continuation to the achievements and as part of building the best startup ecosystem,KSUM invited suggestions from startup founders to add value to the schemes and policies initiated by the state government.
    p The pandemic has created business uncertainties for most of the startups and in spite of all the uncertainties they survived and started recovering. To give support to their efforts and inspire the entrepreneurs KSUM has taken inputs from the startup founders on the ideas and suggestions they put forward to build the best startup ecosystem in the country. Many interesting suggestions came in which can help the ecosystem.
    p Further to bring an inclusive growth taking in consideration the suggestions from the startup founders and to inspire them our Hon'ble Chief Minister, Shri Pinarayi Vijayan has consented to have an interaction with the startup founders on 18th of January 2021, 05.00 pm to 07.00 pm.
    p Founders are kindly requested to attend the same via online by registering to the event through the link given. Wish you success.

    .button#cal-button Register

  .modal#modal-form
    .modal-overlay
    .modal-content      
      form.pure-form.pure-form-stacked#submit-form
        fieldset
          legend Submit Your Interest

          label.form-label(for='stacked-name') Name
          input.pure-input-1.pure-input-rounded.mb-3#stacked-name(type='text' placeholder='Name' required)
          
          label.form-label(for='stacked-email') Email
          input.pure-input-1.pure-input-rounded.mb-3#stacked-email(type='email' placeholder='Email' required)
          
          label.form-label(for='stacked-phone') Phone
          input.pure-input-1.pure-input-rounded.mb-3#stacked-phone(type='number' placeholder='Phone' required)
          
          label.form-label(for='stacked-org') Organisation
          input.pure-input-1.pure-input-rounded.mb-3#stacked-org(type='text' placeholder='Oragnisation' required)
          
          button.button(type='submit') Submit

  .loader#loader
    .loader-overlay
    .spinner


block script
  script(src="./script/index.js")