<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title Kerala Startup Mission

    link(rel="stylesheet", href="./style/main.scss")
    link(rel="stylesheet", href="./style/navbar.scss")

    block head

  body
    //- include navbar.pug

    .outer-container
      .wrapper
        block page

    footer

    block script